@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');

body {
    background: antiquewhite;
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: bold;
}

.display-2 {
    font-weight: bold;
}

.tag {
    background: #6f7565;
    color: #fff;
    margin: 0 7px 0 0;
    padding: 5px 10px;
    font-weight: bold;
}

.title-section, .about-section {
    display: flex;
    align-items: center;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
}

.about-section {
    background: #e5d6c6;
}

